
* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

div {
  border: 1px solid red;
}
.header {
  display: flex;
  width: 100%
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* .header img is for the logo Tea Cozy image*/
.header img {
  max-height: 50px;
  margin-left: 10px;
  margin-bottom: 9.5px;
  margin-top: 9.5px;
  padding-right:20px;
}

.navigation {
  display: flex;
  margin-right: 10px;
  margin-bottom: 9.5px;
  margin-top: 9.5px;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-flex;
  text-decoration: underline;
  padding-left: 15px;
  justify-content: flex-end;
}

h2, h4 {
  text-align: center;
  position:relative;
  padding: 10px 10px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
}

/* having trouble figuring out how to get background image and text to move with the page when expanded.come back to this*/
/* maincontainer holds all the content in the body of the page*/

#mission {
  background-image: url("../resources/images/img-mission-background.jpg");
  display: block;
  position: relative;
  background-size: cover;
  background-position: top;
  height: 700px;
  width: 1200px;
  margin-left: 60px;
}

#mission .content {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 303px;
}

#totm {
  display: block;
  padding-top: 50px;
  position: fixed;
  text-align: center;
  position: relative;
  max-width: 1200px;
  min-width: 1200px;
  margin-left: 60px;
}

.maincontainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  align-items: center;
  max-width: 1000px;
  margin-left: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fallberry img {
  width: 300px;
  height: 200px;
}

.spicedrum img {
  width: 300px;
  height: 200px;
}

.seasonaldonuts img {
  width: 300px;
  height: 200px;
}

.myrtle img {
  width: 300px;
  height: 200px;
}

.bedford img {
  width: 300px;
  height: 200px;
}
